body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    line-height: 1.4;
    color: #2C2C2C;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 30px;
}

.logo {
    font-size: 80px;
    color: #000000;
    font-weight: 400;
    display: inline-flex;
}



.logo-text-2 {
    color: #4BCAFF;
}




.nav .nav-item {
    display: flex;
    list-style: none;
    margin: 30px 0;
    padding: 0;
    height: 70px;
    background: #35444F;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.nav .nav-li {
    height: 100%;
}

.nav .nav-link {
    color: #fff;
    font-size: 24px;
    padding: 0 38px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.25s;
    border-left: 1px solid #FFFFFF;
}

.nav-link:last-child {
    border-right: 1px solid #FFFFFF;
}

.nav-link:hover {
    background-color: #222F3A;
}



.main .container {
    display: flex;
    gap: 50px;
}

.main .category {
    width: 27%;

}

.main .content {
    width: 73%;
}

.category-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #000000;
}


.category-list .category-list-link {
    color: #495863;
    font-size: 27px;
    display: flex;
    height: 81px;
    padding-left: 44px;
    transition: 0.25s;
    align-items: center;
}

.category-list .category-list-link:hover {
    background: #DBDBDB;
    border: 1px solid #000000;
    padding-left: 68px;
}

.main .container-2 .content .container {

    width: 885px;
    height: 832px;
}

.image {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 74px;

}

.image-el {
    transition: .4s
}

.image-el:hover {
    transform: scale(1.1);
}





.text {
    flex-direction: column;
}




.footer-menu {
    max-width: 1280px;
    height: 69px;
    margin: 51px 0 30px;
    padding: 0 40px 0 40px;
    bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-list {
    display: flex;
    list-style: none;
    margin: 30px 0;
    padding: 0;
    height: 70px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



.menu-list-link {
    color: #0C1927;
    font-size: 28px;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.25s;
    border-bottom: 1px solid transparent;
}

.menu-list-link:hover {
    color: #3181A6;
    border-bottom-color: #3181A6;
}

p .footer-copyright {
    font-size: 24px;
    color: #010101;
}